body {
  background: #111;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== TEXTO ===== */
#mensage {
  font-size: 28px;
  color: #9fc4d0;
  margin-bottom: 20px;
}

/* ===== BOTÃO ===== */
button {
  color: #9fc4d0;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 10px 0 0;
  cursor: pointer;
}

button::before {
  margin-left: auto;
}

button::after,
button::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #06aed8;
  display: block;
  transition: 0.5s;
}

button:hover::after,
button:hover::before {
  width: 100%;
}

/* ===== CONTAINER ===== */
.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  display: flex;
  aspect-ratio: 16/9;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.input-container {
  position: relative;
  filter: drop-shadow(46px 36px 24px #4090b5)
    drop-shadow(-55px -40px 25px #9e30a9);
  animation: blinkShadowsFilter 8s ease-in infinite;
}

.input-content {
  position: relative;
  display: grid;
  align-content: center;
  justify-items: center;
  text-align: center;
  padding-inline: 2em;
  padding-block: 2em;
}

.input-content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(40px);
  clip-path: polygon(
    26% 0,
    66% 0,
    92% 0,
    100% 8%,
    100% 89%,
    91% 100%,
    7% 100%,
    0 92%,
    0 0
  );
  background: rgba(122, 251, 255, 0.055);
  transition: all 1s ease-in-out;
}

.input-content::after {
  content: "";
  position: absolute;
  width: 98%;
  height: 98%;
  box-shadow: inset 0px 0px 20px 20px #212121;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(64, 144, 181, 0.199) 1px,
    rgb(0, 0, 0) 3px
  );
  clip-path: polygon(
    26% 0,
    31% 5%,
    61% 5%,
    66% 0,
    92% 0,
    100% 8%,
    100% 89%,
    91% 100%,
    7% 100%,
    0 92%,
    0 0
  );
  animation: backglitch 50ms linear infinite;
}

.input-dist {
  z-index: 80;
  display: grid;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1.2em;
}

.input-type {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-is {
  color: #fff;
  font-size: 1.2rem;
  background-color: transparent;
  padding: 0.7em;
  border: none;
  border-bottom: 1px solid hsl(221, 26%, 43%);
  transition: all 0.5s ease-in-out;
}

.input-is:hover {
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(102, 224, 255, 0.2) 50%,
    transparent 100%
  );
}

.input-is:focus {
  outline: none;
  border-bottom: 1px solid hsl(192, 100%, 100%);
  color: hsl(192, 100%, 88%);
}

.input-is::placeholder {
  color: hsla(192, 100%, 88%, 0.8);
}

/* ===== ANIMAÇÕES ===== */

@keyframes backglitch {
  0% {
    box-shadow: inset 0px 20px 20px 30px #212121;
  }
  50% {
    box-shadow: inset 0px -20px 20px 30px hsl(297, 42%, 10%);
  }
  100% {
    box-shadow: inset 0px 20px 20px 30px #212121;
  }
}

@keyframes blinkShadowsFilter {
  0% {
    filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.34))
      drop-shadow(-55px -40px 28px #9e30a9);
  }
  50% {
    filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.9))
      drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.3));
  }
  100% {
    filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.34))
      drop-shadow(-55px -40px 28px #9e30a9);
  }
}
